# ======================================
# ⛔ ENTORNOS VIRTUALES
# ======================================
.venv/



# ======================================
# 🧹 ARCHIVOS TEMPORALES DEL SISTEMA
# ======================================
*.log
*.tmp
*.DS_Store
Thumbs.db

# ======================================
# 📄 ARCHIVOS WORD Y BACKUPS TEMPORALES
# ======================================
*.docx
~$*.docx

# ======================================
# 🐍 ARCHIVOS TEMPORALES DE PYTHON
# ======================================
__pycache__/
*.py[cod]

# ======================================
# 🛠️ CONFIGURACIÓN DE EDITORES (VSCode / JetBrains)
# ======================================
.vscode/
.idea/
